$beige: #f8f5f2;
$blue: #06b;
// $blue: #402c11;
$charcoal: #202326;
$white: #fff;

$sapphire: #4051a3;
$parkgreen: #20543e;
$midnight: #111a2a;
$granite: #eaebe7;
$lake: #7ec4e2;
$sand: #eadcc9;
$mulberry: #ad285a;
$tile: #925840;
$flame: #f16151;
$lavender: #cdb8d1;

$shade: #0003;
$shade-weak: #0001;
$shine: #fff2;

$body-color: $midnight;
$border-color: $shade-weak;
$link-color: $sapphire;
$link-hover-bg: rgba($link-color, .1);
$link-hover-color: mix(#000, $link-color, 20);

$br: 2px; // border radius
$font-size: 20px;
$font-size-mobile: 16px;
$font-size-small: .75em;
$font-size-large: calc(5vh + 1em);

$font-serif: 'Bembo W01', 'Cardo', serif;
$font-sans: 'Basic Commercial W01', Helvetica, sans-serif;

$td: .2s; // transition duration

$drop-shadow: 0 0 .5rem $shade;

$large: '(min-width: 1080px)'; // for @media
$dark: '(prefers-color-scheme: dark)'; // for @media
